@import './assets/sass/cssvars';
@import './dogi_vars';
@import './assets/sass/mixin';
@import './assets/sass/bootstrap';
@import './assets/sass/fonts';
html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nokia Pure Headline', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
    width: 100%;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    >* {
        margin-right: 8px;
        &:last-child {
            margin-right: 0;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}

.handsontable thead {
    @extend .thead-dark;
    text-transform: capitalize;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: rgba(0, 123, 255, 0.25);
    cursor: pointer;
}

.zina {
    width: 100%;
    height: 100%; 
    .breadcrumb {
        background-color: var(--zina-light, #f3f3f4);
        border-bottom: 1px solid var(--zina-divider, #999);
        font-weight: var(--font-regular, 400);
        color: var(--zina-divider, #999);
        border-radius: 0;
        font-size: 12pt;
        margin: 0;
        .breadcrumb-item+.breadcrumb-item::before {
            color: var(--zina-divider, #999);
        }
    }
    .container-fluid {
        background-color: var(--zina-4, #f3f3f4);
        height: calc(100vh - 145px);
        width: 100%;
        overflow: auto;
        padding: 10px;
        .page-content {
            padding: 10px;
            width: 100%;
        }
        h3 {
            color: var(--zina-2, black);
            font-weight: 400;
            font-weight: var(--font-regular, 400);
            font-size: 20pt;
            padding-left: 10px;
            padding-top: 10px;
            margin: 0;
        }
        hr {
            margin: 10px 0;
        }
        .zina_card {
            margin-bottom: 16px;
            width: 100%;
            .navbar {
                padding: 0
            }
        }
    }
    .sheet {
        width: 100%;
        min-height: calc(100% - 46px);
    }
    .drawer {
        background-color: var(--zina-2, #071534);
        height: 100%;
        overflow-y: auto;
    }
    .maincontent {
        width: 100%;
        height: 100%;
        display: flex;
        >.menu {
            width: 50px;
            background-color: var(--zina-2, #071534);
        }
    }
}

.MainContentContainer {
    height: 100%;
    width: 100%;
    .content {
        height: 100%;
        width: 100%;
        .maincontent {
            height: calc(100% - 96px);
            width: 100%;
            .sheet {
                height: 100%;
            }
        }
    }
}

.loading {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    color: white;
    background-color: rgba(#000, 0.7);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 60px;
    color: $zina-4;
    background-color: $zina-2 !important;
    padding: 10px 25px;
    padding-left: 0 !important;
    .menu-btn {
        display: inline-block;
        text-align: center;
        margin-left: 8px;
        .btn {
            padding: 1px 6px;
            background-color: $zina-7;
            font-size: 9pt;
            color: $zina-4;
        }
    }
    .logo {
        width: 110px;
        margin-top: 5px;
        margin-left: 16px;
    }
    .navbar-brand {
        padding: 0;
    }
    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }
}

.pagination {
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
    li.page-item {
        box-sizing: border-box;
        display: inline-block;
        margin: 0 2px;
        padding: 10px 0;
        input.form-control {
            width: 4em;
            margin-left: -6px;
            line-height: 3em;
            border-radius: 0;
            margin-right: 10px;
        }
        a.page-link {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #007bff;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }
    }
    li.page-item.separator {
        margin-right: 5px;
    }
    li.page-item.total {
        margin-right: 8px;
    }
    svg.disabled {
        color: #ccc;
        cursor: not-allowed;
    }
}

.menu-bar {
    margin: 0;
    padding: 0;
    li {
        &:hover {
            .menu-item,
            .submenu-item {
                span.item:not(.show) {
                    display: block !important;
                    position: absolute;
                    padding: 8px;
                    background: black;
                    z-index: 1000;
                    margin-top: -31px;
                    left: 55px;
                }
            }
        }
        >* {
            text-decoration: none;
            color: white;
            font-size: 12pt;
            display: inline-block;
            width: 100%;
            transition: 450ms all;
            border-left: 2px solid var(--zina-2, #071534);
            .submenu-item-name {
                display: inline-flex !important;
            }
            .collapsing>ul,
            .collapse>ul {
                list-style: none;
                background-color: var(--zina-1, #0c1224);
                margin: 0;
                padding: 0;
            }
            &.active {
                background-color: var(--zina-3, #0c2254);
                border-left: 2px solid var(--zina-6, #c3d941);
                &:hover {
                    background-color: var(--zina-3, #0c2254);
                }
            }
            &:not(.parent_menu):hover {
                background-color: var(--zina-1, #0c1224);
                color: white;
                transition: 450ms all;
                border-left: 2px solid var(--zina-6, #c3d941);
            }
            span {
                &.icon {
                    display: inline-block;
                    width: 50px;
                    text-align: center;
                }
                &.item {
                    display: inline-block;
                    width: 190px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    vertical-align: middle;
                }
                &.item:not(.show) {
                    display: none !important;
                }
            }
        }
        .submenu-item,
        .menu-item {
            border-bottom: 1px solid #444;
            padding: 12px 0;
        }
    }
}

.callout {
    .card-header {
        border-left-width: 10px;
        border: 1px solid #eee;
    }
    &.callout-danger>.card-header {
        border-left-color: #a92c2c;
        * {
            color: #a92c2c !important;
        }
    }
    &.callout-secondary>.card-header {
        border-left-color: #4675cd;
        * {
            color: #4675cd !important;
        }
    }
    &.callout-success>.card-header {
        border-left-color: #5ea557;
        * {
            color: #5ea557 !important;
        }
    }
    &.callout-warning>.card-header {
        border-left-color: #e9a828;
        * {
            color: #e9a828 !important;
        }
    }
}

.card-body {
    &.error {
        border-top: 2px solid #a92c2c;
    }
}

.zina-btn {
    margin-bottom: 8px;
    span.btn-sparator {
        margin: 0 2px;
    }
}

.badge-notify {
    background: red;
    position: relative;
    top: -20px;
    left: -35px;
}

span.btn-icon {
    padding: 1px 9px;
    border-radius: 20px;
    transition: all 0.3s;
    &:hover {
        background: rgba(0, 0, 0, 0.05);
        transition: all 0.3s
    }
}

.nav-tabs {
    >.nav-item {
        text-align: center;
        .nav-link {
            color: var(--dark, black);
            &.active {
                background-color: var(--primary, blue);
                color: var(--light, white);
            }
        }
    }
    .nav-link {
        margin-top: 8px;
        border-color: #e9ecef #e9ecef #dee2e6 !important;
    }
}

.login-sheet {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;
    margin: 0 !important;
}

.zina-login {
    .alert{
        position: absolute;
        width: 100%;
    }
    &.lcard {
        background-color: white;
        width: 666px;
        height: 485px;
        box-shadow: $shadow;
        border-radius: 20px;
        sub {
            font-size: 60%;
            margin-bottom: 16px;
            display: inline-block;
        }
        .lcard-left {
            padding: 0;
            background: #174ebb;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            .zina-slide {
                max-width: 100%;
                height: 485px;
                display: flex;
                align-items: center;
                justify-content: center;
                >* {
                    width: 60%;
                }
                .text-slide {
                    font-weight: bold;
                    h4 {
                        color: white;
                        font-size: 30px;
                    }
                    span {
                        color: $zina-7;
                        font-size: 14px;
                    }
                }
            }
            .carousel-indicators li {
                width: 16px;
                height: 16px;
                border: none;
                border-radius: 50%;
            }
        }
        .lcard-right {
            padding: 0 42px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .logo-nokia {
                text-align: right;
                font-size: 3ex;
                img {
                    height: 20px;
                }
            }
            .titles {
                // padding-top: 30px;
                b {
                    font-size: 20px;
                }
            }
            .form {
                .form-group {
                    margin-bottom: 0;
                }
                .fields {
                    margin-bottom: 16px;
                }
                select option[disabled] {
                    color: red;
                }
                .zinaSelect__value-container {
                    padding: 0;
                }
                .zinaSelect__control,
                input[type='email'],
                input[type='password'],
                input[type='text'] {
                    background-color: transparent;
                    border: none;
                    border-radius: 0;
                    border-bottom: 2px solid $zina-divider;
                    padding: 0;
                    height: 30px;
                    font-size: 12px;
                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                    &::placeholder {
                        // color: $zina-4;
                        opacity: 0.7;
                    }
                }
                .controls {
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    >* {
                        margin-bottom: 8px;
                        &:last-child {
                            margin-right: 0;
                        }
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background: $zina-2;
    color: white;
    height: 36px !important;
    font-size: 13px; // padding: 10px;
    >.menu {
        width: 50px;
        height: 20px;
        margin-right: 16px;
        display: inline-block;
        position: absolute;
        background-color: var(--zina-2, #071534);
    }
    .legend {
        font-size: 10pt;
        margin-left: 50px;
        background-color: white;
        display: inline-block;
        width: 100%;
        padding: 10px;
        color: black;
        border-top: 1px solid #999;
        &.login {
            background-color: transparent;
            border: none;
            color: white;
        }
    }
}

.avatar {
    background-color: var(--zina-8);
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}