:root {
    --zina-1: #0c1224;
    --zina-2: #071534;
    --zina-3: #0c2254;
    --zina-4: #f3f3f4;
    --zina-5: #bdc7d2;
    --zina-6: #c3d941;
    --zina-7: #26b34b;
    --zina-8: #4088d5;
    --zina-divider: #999;
    --zina-light: #fff;
    --zina-dark: #000;
    --mt-transparency: 90%;
    --font-lite: 300;
    --font-regular: 400;
    --font-bold: bold;
}

// 1366 x 768
